body { background:#f4f6f9; font-family:Segoe UI; margin:0 }
.header { background:#1e88e5; color:white; padding:15px }
.container {
  max-width:800px; margin:30px auto; background:white;
  padding:20px; border-radius:8px;
}
input, select, button {
  width:100%; margin-top:10px; padding:10px;
}
button {
  background:#1e88e5; color:white; border:none;
}
